<table d="user-data" class="table table-responsive table-bordered table-striped panel-heading custom-table" style="padding: 3px; margin-left: 8px; margin-top: 35px; padding-right: 10px;">
    <thead>
        <tr>
            @*<th><input type="checkbox" id="checkall" /></th>*@
            <th>Role Name</th>
            <th>Role Descriptioin</th>
            <th style="text-align: center">Edit</th>
            <th style="text-align: center">Manage</th>
            <th style="text-align: center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
