

<table id="discount-list" class="table table-striped panel-heading custom-table ">
    <thead>
        <tr>
            @*<th><input type="checkbox" id="checkall" /></th>*@
            <th>ID</th>
            <th>Coupon Type</th>
            <th>Discount Code</th>
            <th>Descriptioin</th>
            <th>Amount Reduction</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th style="text-align: center">Manage</th>
            <th style="text-align: center">Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
