
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-body table tr td {
        padding-left: 0;
    }

    .list-inline > li {
        display: inline;
    }
</style>

<div class="container">
    @Html.Action("GetProductDetails", new { id = ViewBag.ProductId })
</div>

