@{
    ViewBag.Title = "Account Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-message-info alert-message-default" style="margin-top: 50px;">
                <h4>
                    <i class="icon-check-sign" style="color: #2f4f4f;"></i> Account Status
                </h4>
                <br />
                <p>
                    Your account request as a supplier is pending for processing, and it will be activated within 24 hours from the time you successfully registered.
                    Please come back to check it again, and contact the <a hre="#">site administrator</a> should you have any questions. Thnaks for chossing Common Market.
                </p>
                <br />
                <br />
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

