<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CommonMarketContext" connectionString="Data Source=.\SQLSERVER;Initial Catalog=CommonMarket;Persist Security Info=True;User ID=cm;Password=1234567;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CommunityMarketContext2" connectionString="data source=.\SQLSERVER;initial catalog=CommonMarket;user id=cm;password=1234567;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CommunityMarketContext" connectionString="data source=.\SQLSERVER;initial catalog=CommonMarket;user id=cm;password=1234567;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UpdatedContext" connectionString="data source=.\SQLSERVER;initial catalog=CommonMarket;user id=cm;password=1234567;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>