@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userId = User.Identity.GetUserId();
}

<style>
    .list-group-item {
        margin-left: -40px;
        margin-right: -15px;
    }

    .row {
        margin-left: 0;
    }

    fieldset {
        margin-top: 5px;
    }




    .credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
    }
    .credit-card-box .form-control.error {
        border-color: red;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
    }
    .credit-card-box label.error {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
    }
    .credit-card-box .payment-errors {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
    }
    .credit-card-box label {
        display: block;
    }
    /* The old "center div vertically" hack */
    .credit-card-box .display-table {
        display: table;
    }
    .credit-card-box .display-tr {
        display: table-row;
    }
    .credit-card-box .display-td {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
    /* Just looks nicer */
    .credit-card-box .panel-heading img {
        min-width: 180px;
    }


</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="chekcout" class="panel panel-default" style="margin-top: 25px;">
                <div class="panel-heading" style="background-image: linear-gradient(to bottom, #F8B688 0, #F38C59 100%); height: 55px;">
                    <div class="col-md-9 col-sm-9 col-xs-6">
                        <h5><span class="glyphicon glyphicon-shopping-cart" style="color: #b4f808;"></span> <span style="color: #6F0A18; font-size: 1.25em;">&nbsp;Welcome to Checkout </span></h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">

                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5 style="color: #DC6161;">Please following the steps to submit your order.</h5>
                                </div>
                                <div class="col-xs-4">

                                </div>
                                <div class="col-xs-2">
                                    @*<a href="#" type="button" class="btn btn-success btn-block">
                                        <span class="glyphicon glyphicon-ok-sign"></span> Submit Order
                                    </a>*@
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="panel-heading checkout-panel" style="background-image: linear-gradient(to bottom, #F8B688 0, #F38C59 100%); height: 75px;">
                                    <h3 style="font-size: 1.25em; color: #6B5F5F;"><span style="font-size: 1.5em; color:#ff4500">1</span>. SHIPPING METHOD</h3>
                                </div>
                                <div class="panel-body checkout-panel" style="height: 517px;">
                                    <div>Please select a shipping method, which may be suject to handling and shipping fees. </div>
                                    <br />
                                    <div id="shipping-method">
                                        <input type="radio" name="smethod" id="pickup" value="1" checked="checked" style="vertical-align: top;" /> Pickup<br />
                                        <input type="radio" name="smethod" id="express" value="2" disabled="" style="vertical-align: top;" /> Standard Shipping<br />
                                        <input type="radio" name="smethod" id="standard" value="3" disabled="" style="vertical-align: top;" /> Express Shipping<br />
                                    </div>

                                    <div>
                                        <fieldset>
                                            <legend> <i class="fa fa-info-circle"></i> Details </legend>
                                            <div id="d_pickup">
                                                <p>You will receive notification through email that contains information on the pickup date, time and location when the order is ready.</p>

                                                <p>For more information, please contact the vendor directly. You can find the vendors of your products and their contact information in your copy of order.</p>
                                            </div>
                                            <div id="d_shipp" style="display: none;">
                                                <!--  request shipping address here-->

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="panel-heading checkout-panel" style="background-image: linear-gradient(to bottom, #F8B688 0, #F38C59 100%); height: 75px;">
                                    <h3 style="font-size: 1.25em; color: #6B5F5F;"><span style="font-size: 1.5em; color:#ff4500">2</span>. PAYMENT METHOD</h3>
                                </div>
                                <div class="panel-body checkout-panel" style="height: 517px;">
                                    <div>Please select a payment method, and enter required information to proceed. </div>
                                    <br />
                                    <div id="payment-method">
                                        <input type="radio" name="pmethod" id="cash" value="1" checked="checked" style="vertical-align: top;" title="Cash On Delivery" /> Cash on Delivery <i class="fa fa-money" style="color: #228b22"></i><br />
                                        <input type="radio" name="pmethod" id="paypal" value="2" @*disabled=""*@ style="vertical-align: top;" title="PayPal" /> PayPal <i class="fa fa-cc-paypal" style="color: #3b7bbf"></i><br />
                                        <input type="radio" name="pmethod" id="credit-card" value="3" @*disabled=""*@ style="vertical-align: top;" title="Major Credit Cards" /> Credit Card <i class="fa fa-cc-amex" style="color: #38a671"></i> <i class="fa fa-cc-visa" style="color: #1a1171f"></i> <i class="fa fa-cc-mastercard" style="color: #ff9900"></i><br />
                                    </div>

                                    <div id="d_payment">
                                        <fieldset>
                                            <legend> <i class="fa fa-info-circle"></i> Details </legend>
                                            <div id="cod">
                                                <p>You will pay for your order in cash when you pickup the order or when you receive your order if you have chosen shipping.</p>

                                                <p>For more information, please contact the vendor directly. You can find the vendors' contact informatoin of your products in your order.</p>
                                            </div>
                                            <div id="d_paypal" style="display: none;">
                                                <p>
                                                    You will be redirected to PayPal site and you need to login with your PayPal account to nmake payment.
                                                </p>
                                                <p>
                                                    If you do not have a PayPal account, create one in Paypal's website <a href="https://www.paypal.com/us/webapps/mpp/account-selection" target="_blank">here</a>.
                                                </p>
                                            </div>
                                            <div id="d_cc" style="display: none; ">
                                                <div class="col-md-12" style="margin-bottom: -25px;">


                                                    <!-- CREDIT CARD FORM STARTS HERE -->
                                                    <div class="panel panel-default credit-card-box">
                                                        <div class="panel-heading display-table">
                                                            <div class="row display-tr">
                                                                <div class="display-td">
                                                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <form role="form" id="payment-form" style=" margin-bottom: 10px;">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="form-group">
                                                                            @*<label for="cardNumber">CARD NUMBER</label>*@
                                                                            <div>
                                                                                <input type="radio" name="ccd" id="visa" value="1" checked="checked" style="vertical-align: top;" /> Visa
                                                                                <input type="radio" name="ccd" id="mc" value="2" disabled="" style="vertical-align: top;" /> MC
                                                                                <input type="radio" name="ccd" id="ae" value="3" disabled="" style="vertical-align: top;" /> AE<br />
                                                                            </div><br/>
                                                                            <div class="input-group">
                                                                                <input type="tel"
                                                                                       class="form-control"
                                                                                       name="cardNumber"
                                                                                       placeholder="Valid Card Number"
                                                                                       autocomplete="cc-number"
                                                                                       value="4214029708708154"
                                                                                       required autofocus />
                                                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-7 col-md-7">
                                                                        <div class="form-group">
                                                                            <label for="cardExpiry"><span class="hidden-xs">EXP DATE</span> </label>
                                                                            <input type="tel"
                                                                                   class="form-control"
                                                                                   name="cardExpiry"
                                                                                   placeholder="MM / YYYY"
                                                                                   value="11/2020"
                                                                                   autocomplete="cc-exp"
                                                                                   required />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-5 col-md-5 pull-right">
                                                                        <div class="form-group">
                                                                            <label for="cardCVC">CV CODE</label>
                                                                            <input type="tel"
                                                                                   class="form-control"
                                                                                   name="cardCVC"
                                                                                   placeholder="CVC"
                                                                                   autocomplete="cc-csc"
                                                                                   value="874"
                                                                                   required />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="display:none;">
                                                                    <div class="col-xs-12">
                                                                        <p class="payment-errors"></p>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- CREDIT CARD FORM ENDS HERE -->


                                                </div> 
                                            </div>

                                        </fieldset>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="panel-heading checkout-panel" style="background-image: linear-gradient(to bottom, #F8B688 0, #F38C59 100%); height: 75px;">
                                    <h3 style="font-size: 1.25em; color: #6B5F5F;"><span style="font-size: 1.5em; color:#ff4500">3</span>. ORDER SUMMARY</h3>
                                </div>
                                <div class="panel-body checkout-panel">
                                    <div class="panel-heading " style="background-image: linear-gradient(to bottom, #AFC9F1 0, #7D98CA 100%); height: 35px;">
                                        <h5 style="margin-top: 0; color: #FDF8F8;"> Order Summary (<span id="count_order"></span> itme(s))</h5>
                                    </div>
                                    <div id="order_review" class="panel-body" style="max-height: 200px; background-color: #DAD7D7;">
                                        @Html.Action("GetOrderView", "Cart")
                                    </div>

                                    <br />
                                    <div id="order_info" class="panel-body" style="max-height: 130px; background-color: #DAD7D7;">
                                        <div><h5 style="margin-top: 0; margin-bottom: 0;">Shipping Method: </h5><span is="ship"> Pickup</span></div>
                                        <div><h5 style="margin-top: 0; margin-bottom: 0;">Payment Method: </h5><span id="pay">Cash on delivery</span></div>
                                    </div>

                                    <div style="font-size: .8em;">Please review and confirm your order. Make changes in shoppign cart as needed. </div><br />
                                    <button id="submit_order" class="btn btn-block btn-success"><h4><i class="fa fa-check"></i> SUBMIT ORDER</h4></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function() {
        var pickup = $("#pickup").text();

        var shppingMethodId = 1;
        var paymentMethodId =1;

        $("#shipping-method input").on('change', function () {
            shppingMethodId = $('input[name="smethod"]:checked', '#shipping-method').val();
        });

        $("#payment-method input").on('change', function () {
            paymentMethodId = $('input[name="pmethod"]:checked', '#payment-method').val();
            //alert(paymentMethodId);


            if (paymentMethodId == 1) {
                $("#d_paypal").hide();
                $("#cod").show();
                $("#d_cc").hide();
            } else if (paymentMethodId == 2)
            {
                $("#d_paypal").show();
                $("#cod").hide();
                $("#d_cc").hide();
            } else {
                $("#d_paypal").hide();
                $("#cod").hide();
                $("#d_cc").show();
            }

            //switch (paymentMethodId) {
            //    case 1:
                    
            //        break;
            //    case 2:
                   
            //        break;
            //    case 3:
                    
            //        break;
            //    default:
            //}
        });

        var shipperId;

        switch (shppingMethodId) {
        case 1:
            shipperId = 1;
            break;
        case 2:
            shipperId = 2;
            break;
        case 3:
            shipperId = 3;
            break;
        default:
        }


        //var payId;

        //switch (paymentMethodId) {
        //    case 1:
        //        payId = 1;
        //        break;
        //    case 2:
        //        payId = 2;
        //        break;
        //    default:
        //}


        $("#submit_order").click(function () {
            //alert(paymentMethodId);
            //alert(shppingMethodId);

            var shipping = {
                ShippingMethodId: shppingMethodId,
                shipperId: shipperId
            };

            var payment = {
                PaymentMethodId: paymentMethodId
            };

            var totalAmount = $("#order_total").val();

            //alert(totalAmount);
            //debugger;
            $.ajax({
                url: '/Checkout/SubmitOrder',
                type: 'post',
                dataType: 'json',
                // It is important to set the content type
                // request header to application/json because
                // that's how the client will send the request
                contentType: 'application/json',
                data: JSON.stringify({ shipping: shipping, payment: payment, totalAmount: totalAmount }),
                cache: false,
                success: function() {
                    alert("all good, nect step...");
                }


            }).error(function () { //not sure why the ajax call returns error, all controller actions are done properly.

                var q = "@userId";
                //var url = "/Cart/GetCartContent/" + q;

                var url = "/Cart/GetCartByUser/" + q;

                $.get(url, function (res) {
                    $("#cv").html(res);
                    return false;
                });


                window.location.href="@Url.Content("~/Checkout/OrderSubmitted")";
            });


        });


    });
</script>

<script type="text/javascript">
    $(document).ready(function() {


    });
</script>