@model IEnumerable<CommonMarket.Core.Entities.ProductCategory>

<ul id="product_list">
    @foreach (var item in Model)
    {
        <li>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="@Url.Content(@item.ProductCategoryImgLargeUrl)" title="@item.ProductCategoryName" />
                </a>
            </div>
        </li>
    }
    

    
</ul>
