<ul id="supplier_list">
    <li>
        <div class="col-md-5 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <img class="lib-img-show" src="/Content/Assets/Images/user_default.png"><br />
                        <span class="short_desc" style="color:rgb(182, 77, 42); margin-left: 10px;">
                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half"></i><i class="icon-star-empty"></i>
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-6">
                        <div class="lib-row lib-header">
                            Example Suppler
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Major suppliers of organic products, including produce, fruits, etc.<br />
                            <span class="glyphicon glyphicon-envelope" style="color:#ac1717;"></span> <span class="glyphicon glyphicon-earphone" style="color:#1a671a;"></span> <span class="glyphicon glyphicon-comment" style="color:#408D2D"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="col-md-5 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <img class="lib-img" src="/Content/Assets/Images/user_default.png">
                        <span class="short_desc">
                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half"></i><i class="icon-star-empty"></i>
                        </span>
                    </div>
                    <div class="col-md-6 ol-sm-8 col-xs-6">
                        <div class="lib-row lib-header">
                            Example Supplier
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Major suppliers of organic products, including produce, fruits, etc.<br />
                            <span class="glyphicon glyphicon-envelope"></span><span class="glyphicon glyphicon-earphone"></span><span class="glyphicon glyphicon-comment"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="col-md-5 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <img class="lib-img" src="/Content/Assets/Images/user_default.png">
                        <span class="short_desc">
                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half"></i><i class="icon-star-empty"></i>
                        </span>
                    </div>
                    <div class="col-md-6 ol-sm-8 col-xs-6">
                        <div class="lib-row lib-header">
                            Example Supplier
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Major suppliers of organic products, including produce, fruits, etc.<br />
                            <span class="glyphicon glyphicon-envelope"></span><span class="glyphicon glyphicon-earphone"></span><span class="glyphicon glyphicon-comment"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="col-md-5 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <img class="lib-img" src="/Content/Assets/Images/user_default.png">
                        <span class="short_desc">
                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half"></i><i class="icon-star-empty"></i>
                        </span>
                    </div>
                    <div class="col-md-6 ol-sm-8 col-xs-6">
                        <div class="lib-row lib-header">
                            Example Supplier
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Major suppliers of organic products, including produce, fruits, etc.<br />
                            <span class="glyphicon glyphicon-envelope"></span><span class="glyphicon glyphicon-earphone"></span><span class="glyphicon glyphicon-comment"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>

    </li>
    <li>

    </li>
</ul>
