@*@model CommonMarket.Web.Models.LoginViewModel*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_h.cshtml";
}

<style>
    .c-search > .form-control {
        border-radius: 0px;
        border-width: 0px;
        border-bottom-width: 1px;
        font-size: 1.3em;
        padding: 12px 12px;
        height: 35px;
        margin-left: 25px;
        outline: none !important;
    }
    .c-search > .form-control:focus {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none;
    }
    .c-search > .input-group-btn .btn {
        border-radius: 0px;
        border-width: 0px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        height: 44px;
    }


    .c-list {
        padding: 0px;
        min-height: 44px;
    }
    .title {
        display: inline-block;
        font-size: 1.7em;
        font-weight: bold;
        padding: 5px 15px;
    }
    ul.c-controls {
        list-style: none;
        margin: 0px;
        min-height: 44px;
    }

    ul.c-controls li {
        margin-top: 8px;
        float: left;
    }

    ul.c-controls li a {
        font-size: 1.7em;
        padding: 11px 10px 6px;   
    }
    ul.c-controls li a i {
        min-width: 24px;
        text-align: center;
    }

    ul.c-controls li a:hover {
        background-color: rgba(51, 51, 51, 0.2);
    }

    .c-toggle {
        font-size: 1.7em;
    }

    .name {
        font-size: 1.7em;
        font-weight: 700;
    }

    .c-info {
        padding: 5px 10px;
        font-size: 1.25em;
    }
    .prod_list {
        margin-top: 10px;
        border-bottom: 1px solid #5a70e2;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="margin-top: 15px;">
                <img src="@Url.Content("~/Content/Assets/Images/cm.png")" />Welcome to Community Market...
            </h3>
            
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-image: linear-gradient(to bottom, #F8B688 0%, #F38C59 100%);">
                    <h4><i class="fa fa-shopping-cart"></i> <span style="color: #5A70E2;">Shop now!</span></h4>
                </div>
                <div class="panel-body" style="  margin-bottom: 5px;">
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>-->
                    <div class="col-lg-12">
                        <h5>
                            <ul id="panel_title">
                                <li><input id="by_cate" type="radio" style="vertical-align: baseline;" checked="checked" name="selection" /> by Category</li>
                                <li><input id="by_merchant" type="radio" style="vertical-align: baseline;" name="selection" /> by Supplier</li>
                                <li><input id="search" type="radio" style="vertical-align: baseline;" name="selection" /> Search</li>
                                <li>
                                    <div id="search_panel">
                                        <input class="input-group c-search" type="text" id="search_box" style="height: 30px; margin-top:10px;" placeholder="Search" autofocus="" title="Search by Keyword">
                                        <button class="btn btn-default" type="button" style=" height: 30px; margin-left: -13px;">
                                            <span class="glyphicon glyphicon-search text-muted" style="margin-left: 11px;"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </h5>
                    </div>
                    
                    <div id="category">@Html.Action("GetCategoryList")</div>
                    
                    <div id="merchant">@Html.Action("GetSuppliers")</div>
                    
                    <div id="result">@Html.Action("GetAllProducts")</div>

                </div>
            </div>
        </div>

        <div class="col-md-4">
           
                <div class="panel panel-default" style="background-color: #FFF0E7;">
                    <div class="panel-heading" style="background-image: linear-gradient(to bottom, #F8B688 0%, #F38C59 100%);">
                        <h4><i class="icon-columns"></i> Latest News</h4>
                    </div>
                    <div class="panel-body">
                        
                        <h1 class="text-center login-title"><i class="icon-rss" style="color: #ed7e30;"></i> What's happening</h1>
                        This sample shows how you can use Two-Factor authentication. This sample has a SMS and email service registered where you can send SMS or email for sending the security code.
                        You can add more two-factor authentication factors such as QR codes and plug them into ASP.NET Identity.
                        <ul>
                            <li>
                                You can use a SMS using <a href="https://www.twilio.com/">Twilio</a> or use any means of sending SMS. Please <a href="https://www.twilio.com/docs/quickstart/csharp/sms/sending-via-rest">read</a> for more details on using Twilio.
                                You can send SMS using the SmsService which is registered in App_Start\IdentityConfig.cs
                            </li>
                            <li>
                                You can use an email service such as <a href="http://www.windowsazure.com/en-us/documentation/articles/sendgrid-dotnet-how-to-send-email/">SendGrid</a> or
                                set up an SMTP server to send email.
                                You can send email using the EmailService which is registered in App_Start\IdentityConfig.cs
                            </li>

                            <li>
                                When you login, you can add a phone number by clicking the Manage page.
                            </li>
                            
                        </ul>

                    </div>
                </div>
            
            
            

        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#search_panel").hide();

        $("#merchant").hide();
        $("#result").hide();

        $("#search").prop('checked', false);

        //debugger;
        $("#search").change(function () {

            var isChecked = $(this).is(':checked');

            //alert(isChecked);

            if (isChecked) {
                $("#search_panel").show();
            } else {
                $("#search_panel").hide();
            }
        });

        $("#by_cate").click(function() {

            $("#search_panel").hide();
            $("#merchant").hide();
            $("#category").show();
            $("#result").hide();
        });

        $("#by_merchant").click(function () {

            $("#search_panel").hide();
            $("#result").hide();
            $("#category").hide();
            $("#merchant").show();
        });


        $("#search_box").keypress(function() {
            $("#category").hide();
            $("#merchant").hide();
            $("#result").show();
        });

    });
</script>


