@{
    ViewBag.Title = "Error";
}

@*<<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    <i class="icon-remove-sign" style="color: #bd2828;"></i> Oops!
                </h1>
                <br />
                <h2 style="color: #bd2828;">
                    Error Occured!
                </h2><br />
                <div class="error-details">
                    Sorry, an error has occured, Please try it again!
                </div>
                <br />
                <div class="error-actions">
                    <a href="http://localhost:60000" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a><a href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-message-info alert-message-default" style="margin-top: 50px;">
                <h4>
                    <i class="icon-check-sign" style="color: #2f4f4f;"></i> Account Confirmation
                </h4>
                <br />
                <p>
                    You have successfully registered and you are required to confirm your account registration. Please check your email for details.
                </p>
                <br />
                <br />
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>