@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    <p class="text-danger">
        For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-message-info alert-message-default" style="margin-top: 50px;">
                <h4>
                    <i class="icon-check-sign" style="color: #2f4f4f;"></i> Reset Password Confirmation
                </h4>
                <br />
                <p>
                    Please check your email for detailed instructions to reset your password.
                </p>
                <br />
                <br />
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
